/* globals.css ou styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Estilização personalizada */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #141414;
}

/* Barras de rolagem personalizadas */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4263EB;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #d2d8f7;
}
