/* globals.css ou styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Estilização personalizada */
:root {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #141414;
}

/* Barras de rolagem personalizadas */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4263EB;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #d2d8f7;
}


.icons {
  background: #141414;
  box-shadow: 0px 0px 50% #141414;
  padding: 10px;
  position: absolute;
  border-radius: 100%;
  top: calc(50vh - 16px);
  left: 80px;
  transform: translateX(-50%);
  transition: opacity 5s;
  
}


.reactIcon {
  border-radius: 100%;
  box-shadow: 0px 0px 50px red;
  transition: opacity 5s;
  
}







